.nav{
    position:fixed;
    top: 0;
    display: flex;
    width: 100%;
    /* padding: 10px; */
    justify-content: space-between;
    /* background-color: black; */
    /* z-index: -1; */
    /* flex-direction: column; */
}
.nav__black{
    background-color: black;
}
.netflix__logo{
    /* object-fit: contain;
    width: 80px; */
    color: red;
    
}
.vivek__logo{
    color: red;
}